@{
    var theme = Context.Request.Cookies["theme"] ?? "light";
}

<!DOCTYPE html>
<html lang="en" class="@theme">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Silicon</title>
    <link rel="stylesheet" href="https://kit.fontawesome.com/686402c9d7.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <partial name="~/Views/Partials/_Header.cshtml" />
        @RenderBody()
        <partial name="~/Views/Partials/_Footer.cshtml" />
        <partial name="~/Views/Shared/_Cookies.cshtml" />
    </div>
    <script src="https://kit.fontawesome.com/a041cc045c.js" asp-append-version="true"
            crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/validation.js" asp-append-version="true"></script>
</body>
</html>
