@model ContactViewModel

﻿@{
    ViewData["Title"] = "Contact";
}

<section class="contact">
    <div class="container">
        <div class="contact-container">
            <div class="container-text">
                <h2>Contact Us</h2>
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa-regular fa-envelope theme"></i>
                    </div>
                    <div class="contact-info-area">
                        <h6>Email us</h6>
                        <p>Please feel free to drop us a line. We will respond as soon as possible.</p>
                        <p class="theme p-padd">Leave a message <i class="fa-regular fa-arrow-right"></i></p>
                    </div>
                </div>
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa-light fa-users-medical theme"></i>
                    </div>
                    <div class="contact-info-area">
                        <h6>Careers</h6>
                        <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                        <p class="theme p-padd">Send an application<i class="fa-regular fa-arrow-right"></i></p>
                    </div>
                </div>
            </div>
            <div class="contact-form">
                <h3>Get In Contact With Us</h3>
                <form method="post" asp-controller="Api" asp-action="Contact">
                    <div class="form-content">
                        <div class="input-group input-fullname">
                            <label class="input-label" asp-for="FullName"></label>
                            <input asp-for="FullName" />
                        </div>
                        <div class="input-group input-emailaddress">
                            <label class="input-label" asp-for="Email"></label>
                            <input asp-for="Email" required />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="input-group input-service">
                            <label class="input-label" asp-for="Service"></label>
                            <select asp-for="Service">
                                <option value="Courses">Courses</option>
                                <option value="Pricing">Pricing</option>
                                <option value="Misc questions">Misc questions</option>
                            </select>
                        </div>
                        <div class="input-group input-message">
                            <label class="input-label" asp-for="Message"></label>
                            <textarea asp-for="Message" rows="6"></textarea>
                        </div>
                        <button type="submit" class="btn btn-theme">Send Contact Request</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="map">
            <img src="~/images/other/map.svg" alt="">
        </div>
    </div>
</section>