﻿@{
    ViewData["Title"] = "Home";
}

<section class="home">
    <partial name="~/Views/Partials/_Showcase.cshtml" />
    <partial name="~/Views/Partials/_Features.cshtml" />
    <partial name="~/Views/Partials/_Slider.cshtml" />
    <partial name="~/Views/Partials/_Content.cshtml" />
    <partial name="~/Views/Partials/_Apps.cshtml" />
    <partial name="~/Views/Partials/_Tools.cshtml" />
    <partial name="~/Views/Partials/_Subscriptions.cshtml" />
</section>