.contact {
    .container {
        @include lg {
            .contact-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;
                padding-top: 1rem;

                .contact-form {
                    margin-top: 3rem;
                    margin-bottom: -6rem;
                    z-index: 1;
                    background-color: var(--color-gray-100);
                    padding: 1rem;
                    max-width: 30rem;
                    border-radius: 0.4rem;
                    border: 1px solid var(--color-gray-200);
                }
            }
        }

        .map {
            width: 100%;
            z-index: -1;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }
}
