@{
    ViewData["ActivePage"] = "Saved Courses";
}

<section class="account-details">
    <div class="container">
        <partial name="~/views/Partials/_UserMenu.cshtml" />
        <section class="content">
            <h2>Saved Courses</h2
        </section>
    </div>
</section>