@model UpdatePasswordViewModel;
@{
    ViewData["ActivePage"] = "Security";
}

<section class="account-details">
    <div class="container">
        <partial name="~/views/Partials/_UserMenu.cshtml" />
        <section class="content">
            <h2>Security</h2>
            <h5>Password</h5>
            <form asp-action="Security" method="post">
                <div class="input-group">
                    <label asp-for="CurrentPassword"></label>
                    <input asp-for="CurrentPassword" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="input-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="input-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="acc-buttons">
                    <button class="btn btn-gray" type="reset">Cancel</button>
                    <button class="btn btn-theme" type="submit">Change Password</button>
                </div>
            </form>
            <div class="acc-delete">
                <h5>Delete account</h5>
                <p>
                    When you delete your account, your public profile will be deactivated immediately. If you change your
                    mind before the 14 days are up, sign in with your email and password, and we’ll send you a link to
                    reactivate your account.
                </p>
                <div class="acc-checkbox">
                    <input type="checkbox" id="deleteCheckbox">
                    <p>Yes, I want to delete my account.</p>
                </div>
                <form asp-action="DeleteAccount" method="post">
                    <button class="btn btn-danger btn-30" type="submit">Delete</button>
                </form>
            </div>
        </section>
    </div>
</section>