﻿<section class="apps">
    <div class="container">
        <div class="apps-image">
            <img src="~/images/other/apps-mobile.svg" alt="" />
        </div>
        <div class="apps-text-area">
            <h2 >Download Our App for Any Devices:</h2>
            <div class="apps-store">
                <div class="apps-info">
                    <p class="body-m-600">Appstore</p>
                    <span class="apps-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <h4>Editors choise</h4>
                    <p>rating 4.7, 187K+ reviews</p>
                </div>
                <img src="~/images/other/appstore-download-icon-light.svg" alt="" />
            </div>
            <div class="apps-store">
                <div class="apps-info">
                    <p class="body-m-600">Googleplay</p>
                    <span class="apps-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <h4>App of the day</h4>
                    <p>rating 4.8, 30K+ reviews</p>
                </div>
                <img src="~/images/other/googleplay-download-icon-light.svg" alt="" />
            </div>
        </div>
    </div>
</section>