﻿<section class="theme-showcase">
    <div class="container">
        <div>
            <h2 class="light-text">Switch Between <span class ="dark-text">Light & Dark Mode</span></h2>
        </div>
        <img src="~/images/other/mockup.svg" alt="">
    </div>
</section>